# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# generated_plugin_registrant
**/generated_plugin_registrant.cc
**/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.flutter-plugins
ios/.flutter-plugins-dependencies
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/

# macOS
macos/Pods/
macos/.symlinks/
macos/.flutter-plugins
macos/.flutter-plugins-dependencies

# Android
android/.gradle/
android/.idea/
android/local.properties
android/app/.cxx/
.gradle/
*.jks
*.keystore

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# backend
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.env*
pubspec.lock
/node_modules
/backend/dist


# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

#!.yarn/cache
.pnp.*
